.button{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 1rem;
}

.icon {
    width: 4rem;
    height: 4rem;
}