.tabBar {
  width: 100%;
  /* height: 5.3 rem; */
  color: var(--dark-purple-color);
  background: white;
  position: fixed;
  bottom: 0;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 0 0 .7rem .7rem;

  display: flex;
  justify-content: space-around;

    -webkit-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.15);
    box-shadow: 0px -1px 5px rgba(50, 50, 50, 0.15);

}
.active svg .st0_1 {fill: #594157;}

.active svg .st2_1, .active svg .st3_1 {fill: #594157;}

.tabBar a {
  color: #969696;
  /* font-size: 0; */
  flex: 1;
  text-align: center;
}
.tabBar a:focus {
  outline: .1rem dashed var(--dark-purple-color);
}



.st0{fill:none;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}

.st0_1{fill:none;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}

.st0_active{fill:#594157;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}

.st1{fill:#FFFFFF;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}

.st2{fill:#FFFFFF;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}

.st2_1{fill:#FFFFFF;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}

.st3{fill:none;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}

.st3_1{fill:none;stroke:#594157;stroke-width:1.6;stroke-linecap:round;stroke-miterlimit:10;}