:global(:root){
  --dark-purple-color: #594157;
  --dark-gray-color: #404040;
  --light-pink-color: #F5E6E8;
  --pink-color: #E6C1C5;
}

.color-dark-purple {
  color: var(--dark-purple-color);
}

.color-dark-gray {
  color: var(--dark-gray-color);
}

.color-light-pink {
  color: var(--light-pink-color);
}

.color-pink {
  color: var(--pink-color);
}