.textInput {
  flex: 1;
  border: none;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border-bottom:.1rem solid white;
  outline: none;
  margin:  0 2rem;
}

.button {
  display: block;
  outline: none;
  border: 0;
  border-radius: .7rem;
  background-color: var(--dark-purple-color);
  color: white;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.button:active {
  color: #fff;
  background-color: var(--dark-color);
}

.button_alt {
  display: block;
  outline: none;
  border: 0;
  border-radius: .7rem;
  background-color: white;
  color: var(--dark-purple-color);
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}