.title{
    composes: titleTab from "../styles/typo.module.css";
    grid-area: title;
}

.profile {
    grid-area: profile;
}

.emptyMessage {
    font-size: 1.7rem;
    color: #656565;
    font-weight: 300;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 2rem;
    grid-area: emptyMessage;
}

.filter {
    grid-area: filter;
    width: 100%;
    margin-bottom: 1rem;
}

.filterInput {
    width: 100%;
    height: 3rem;
    outline: none;
    border: .1rem var(--dark-purple-color) solid;
    padding-left: 1rem;
    border-radius: .4rem;
    font-size: 1.4rem;
    color: var(--medium-gray-color);
}

.img{
    grid-area: img;
    width: 18rem;
    height: auto;
    align-self: center;
    justify-self: center;
}

.container {
    display: grid;
      grid-template-columns: 1.6rem 1fr 1.6rem;
      grid-template-rows: repeat(4, auto) 20rem;
  
      grid-template-areas:
      ' . profile . '
      ' . title . '
      ' . filter . '
      ' . img . '
      ' . emptyMessage . '
      ' . chatList . ';
}

.chatList{
    grid-area: chatList;
    grid-row: 4;
}

.container {
    margin: 2rem auto 0 auto;
    width: 100%;
}

.button_prim {
    composes: button from "../styles/uiControls.module.css";
    margin-bottom: 1.5rem;
}
  
.button {
    width: 27.2rem;
    margin: 2rem auto 4rem auto;
    padding: 1rem 2rem;
}